@if(concept.isLoading()) {
  Lade...
}

@if(concept.error()) {
  Fehler!
  <pre>{{concept.error() | json}}</pre>
}

@if(concept.value(); as conceptValue) {
  <div class="d-flex" id="concept">
      <aside class="flex-shrink-0">
        <app-concept-views
          [items]="menu()"
          [selectedId]="currentViewId()"
          (selectedChange)="menuChanged($event)">
        </app-concept-views>
      </aside>

      <main class="flex-fill overflow-auto">
        <div class="row">
          <section class="col-12 col-md-6">
            <ng-container *ngComponentOutlet="currentView().component; inputs: {concept: conceptValue}"></ng-container>
          </section>

          <section class="col-12 col-md-6">
            <app-concept-abstract [concept]="conceptValue"/>
          </section>
        </div>
      </main>
  </div>
}


