Test the timline:
<div style="height: 275px; width: 100%; background: grey">
  <timeline
    [concepts]="data()"
    [selectedPeriodId]="selected()"
    [axisTicks]="axisTicks()"
    [inactive]="inactive()"
  />
</div>
<button (click)="pumpData()">Pump Dummy Data</button>
<button (click)="select()">Select last one</button>
<button (click)="select(2)">Select another</button>
<button (click)="increaseAxisTicks()">axisTicks</button>
<button (click)="toggleInactive()">inactive</button>
<p>Selected {{this.selected()}}</p>
<p>Pumped data {{this.data().length}}</p>
