#home-header {
  background: var(--home-header-background);
  width: 100%;
  position: fixed;
  padding-left: 0;
  padding-right: 0;
  height: var(--home-header-height);
  color: white;
  top: 0;
  z-index: 1050;
}
