<form [formGroup]="form" (ngSubmit)="save()">

  <div ngbAccordion>
    <div ngbAccordionItem [collapsed]="false">
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton>Meta</button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <fieldset class="row" [disabled]="true">
            <div class="col-6">
              <input
                type="text"
                class="form-control form-control-sm"
                [formControl]="form.controls.id.controls.type"
              />
            </div>
            <div class="col-6">
              <input
                type="text"
                class="form-control form-control-sm"
                [formControl]="form.controls.id.controls.id"
                [disabled]="true"
                placeholder="id"
              />
            </div>
          </fieldset>
          <fieldset class="row" [disabled]="true">
            <div class="col-12">
              <input
                type="text"
                class="form-control form-control-sm"
                [formControl]="form.controls.domain"
                [disabled]="true"
              />
            </div>
          </fieldset>
        </div>
      </div>
    </div>

    <div ngbAccordionItem [collapsed]="false">
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton>Titel</button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>
            @for (title of form.controls.title.controls; track title) {
              <app-edit-label [form]="title" (remove)="remove('title', $index)" caption="Titel" />
            }
          </ng-template>
          <div class="row">
            <div class="col"></div>
            <div class="col-auto">
              <button type="button" class="btn btn-secondary btn-sm" (click)="add('title')">
                <i class="bi bi-plus"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div ngbAccordionItem [collapsed]="false">
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton>Relationen</button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>
            @for (relation of form.controls.relation.controls; track relation) {
              <app-edit-relation [form]="relation" (remove)="remove('relation', $index)" />
            }
          </ng-template>
          <div class="row">
            <div class="col"></div>
            <div class="col-auto">
              <button type="button" class="btn btn-secondary btn-sm" (click)="add('relation')">
                <i class="bi bi-plus"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div ngbAccordionItem [collapsed]="false">
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton>Geografische Ausdehnung</button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>
            @for (ge of form.controls.geographicalExtend.controls; track ge) {
              <app-edit-geographic-extend [form]="ge" (remove)="remove('geographicalExtend', $index)"  />
            }
          </ng-template>
          <div class="row">
            <div class="col"></div>
            <div class="col-auto">
              <button type="button" class="btn btn-secondary btn-sm" (click)="add('geographicalExtend')">
                <i class="bi bi-plus"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div ngbAccordionItem [collapsed]="false">
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton>Zeitliche Ausdehnung</button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>
            @for (te of form.controls.temporalExtend.controls; track te) {
              <app-edit-temporal-extend [form]="te" (remove)="remove('temporalExtend', $index)"  />
            }
          </ng-template>
          <div class="row">
            <div class="col"></div>
            <div class="col-auto">
              <button type="button" class="btn btn-secondary btn-sm" (click)="add('temporalExtend')">
                <i class="bi bi-plus"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <input type="submit" class="btn btn-primary"  value="Speichern"/>
</form>
