<div class="row">

  <div class="col-auto">
    <button type="button" class="btn btn-secondary btn-sm" (click)="remove.emit()">
      <i class="bi bi-trash"></i>
    </button>
  </div>
</div>
<div class="row">
  <div class="col-4">Mittelpunkt (WGS 1984)</div>
  <div class="col-4">
    <input
      type="text"
      class="form-control form-control-sm"
      min="-90"
      max="90"
      [formControl]="form().controls.centerLat"
    />
  </div>
  <div class="col-4">
    <input
      type="text"
      class="form-control form-control-sm"
      [formControl]="form().controls.centerLng"
      [disabled]="true"
      min="-180"
      max="180"
      placeholder="id"
    />
  </div>
</div>
<div class="row">
  <div class="col-3">
    Precision
  </div>
  <div class="col-9">
    <input
      type="number"
      min="0"
      max="100"
      class="form-control form-control-sm"
      [formControl]="form().controls.precision"
    />
  </div>
</div>
<div class="row">
  <div class="col-3">
    <input
      type="number"
      min="0"
      max="100"
      class="form-control form-control-sm"
      [formControl]="form().controls.certainty"
      [disabled]="true"
      placeholder="id"
    />
  </div>
</div>
<div class="row">
  <div class="col">
    <textarea [formControl]="form().controls.shape"></textarea>
    @if (form().controls.shape.errors?.['invalidGeoJSON']; as invalidGeoJSON) {
      @for (error of invalidGeoJSON | keyvalue; track error) {
        <ngb-alert [dismissible]="false">{{error.value}}</ngb-alert>
      }
    }
  </div>
  <div class="col-auto">
    <button type="button" class="btn btn-secondary btn-sm" (click)="formatJSON()">F</button>
  </div>
</div>
