#graph-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

#graph {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#hovered-graph-node {
  position: absolute;
  bottom: 5px;
  right: 5px;
  padding: 1em;
  background: var(--idai-blue-transparent);
  border: 3px solid var(--light-grey);
  border-radius: 4px;
  max-height: 50%;
  overflow-y: scroll;
}

#hovered-graph-node h2,
#hovered-graph-node h3 {
  font-size: medium;
  margin: 0;
}

#hovered-graph-node h2 {
  font-weight: bold;
}

#hovered-graph-node h3 {
  color: var(--dark-grey);
}

