#graph-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

#graph {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#hovered-graph-node h2,
#hovered-graph-node h3 {
  font-size: medium;
  margin: 0;
}

#hovered-graph-node h2 {
  font-weight: bold;
}

#hovered-graph-node h3 {
  color: var(--dark-grey);
}

#graph-controls {
  position: absolute;
  top: 5px;
  left: 5px;
}

#graph-controls .bi {
  margin-right: 0.2em;
  cursor: pointer;
  display: inline-block;
}

#graph-info-pane,
#graph-settings-pane,
#hovered-graph-node {
  padding: 1em;
  background: var(--idai-blue-transparent);
  border: 1px solid var(--light-grey);
  border-radius: 4px;
  margin-bottom: 1em;
  font-size: x-small;
  display: block;
  width: fit-content;
}

#graph-info-pane {
  max-height: 75%;
  overflow-y: hidden;
}
