#graph .node circle {
  fill: var(--idai-blue);
  stroke: black;
  stroke-width: 2;
}

#graph .links path {
  stroke: black;
  stroke-width: 2;
}

#graph text {
  fill: black;
}

#graph .link→ text {
  fill: red;
}

#graph .link← text {
  fill: blue;
}

#graph .link← path {
  stroke: blue;
}
