#graph .node circle {
  fill: steelblue;
  stroke: black;
  stroke-width: 2;
}

#graph .links path {
  stroke: black;
  stroke-width: 2;
}


#graph .links text {
  fill: red;
}

#graph .link← {
  stroke: blue;
}
