#system-header {
  background: var(--system-header-background) !important;
  height: var(--system-header-height);
  width: 100%;
  position: fixed;
  padding-left: 0;
  padding-right: 0;
  top: var(--home-header-height);
}

#system-header .nav-item .nav-link {
  color: var(--bs-nav-link-color);
}

